@import url('font.css');

:root{
  --text-color: #1F2020;
  --dark: #25282A;
  --silver: #E4E4E2;
  --light: #F9F6EF;
  --muted: #868686;
  --pacific-blue: #2E4755;
  --second-blue: #215E7C;
  --whatsapp: #075E54;
  --whatsapp-hover: #206e65;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  color: var(--second-blue);
  text-decoration: none;
}
a:hover{
  color: var(--pacific-blue);
}

/* ============================ SCROLL BAR ========================== */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--silver);
  border-radius: 5px;
  transition: all .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper .content{
  flex: 1;
}

/* ============================ HEADER SECTION ========================== */
.section-header{
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
}

.section-header .main-title{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: 'Gilroy', sans-serif;
}
.text-center{
  text-align: center;
}
.text-muted{
  color: var(--muted);
}
.small{
  font-size: smaller;
}

/* ============================ NAV SECTION ========================== */
.section-nav{
  padding: .5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-btn-container{
  width: auto;
  max-width: 600px;
  display: flex;
  column-gap: .5rem;
  row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-btn-container .item{
  padding: .4rem 0rem;
}

.btn-nav{
  width: auto;
  display: block;
  font-size: small;
  font-weight: 400;
  text-decoration: none;
  color: var(--dark);
  background-color: white;
  padding: .3rem .7rem;
  border-radius: 1rem;
  border: solid 1.5px var(--dark);
  transition: all .3s;
}
.btn-nav:active{
  background-color: var(--dark);
  color: var(--light);
}

.btn-nav.active{
  background-color: var(--dark);
  color: var(--light);
}

.nav-button-container{
  width: auto;
  max-width: 280px;
  padding: 0rem 1rem;
}

.text-description{
  margin-top: .8rem;
  text-align: center;
  font-size: small;
  font-weight: 300;
}


/* ============================ Gallery ================================ */

.section-gallery{
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.start-gallery{
  display: none;
}

.section-gallery .container{
  
}

.gallery-wrapper{
  line-height: 0;
  column-count: 2;
  column-gap: 5;
  row-gap: 5;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
.gallery-wrapper.single{
  column-count: 1 !important;
}
.gallery-wrapper.double{
  column-count: 2 !important;
}
.gallery-wrapper.compact{
  column-count: 4 !important;
}
.item-gallery{
  width: auto !important;
  height: 100% !important;
  overflow: hidden;
  border: solid 1px var(--purple);
  position: relative;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.gallery-wrapper .item-gallery img{
  border: 1px solid var(--silver);
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100% !important;
  height: auto !important;
  border-radius: 6px;
  object-fit: cover;
}

/* ============================ Contact ================================ */
.section-contact{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.throw-hide{
  position: absolute !important;
  left: -1000px !important;
}

.section-contact .card-contact{
  border-radius: 32px;
  background-color: var(--silver);
  color: var(--text-color);
  min-height: 200px;
  padding: 2rem;
}

.section-contact .card-contact h1{
  margin-bottom: 1rem;
  font-family: 'Gilroy', sans-serif;
  font-size: 1.6rem;
}

.section-contact .card-contact p{
  font-size: small;
  font-weight: 300;
  margin-bottom: 1rem;
}

.section-contact .card-contact textarea{
  display: none;
  resize: none;
}

.section-contact .card-contact textarea:focus-visible{
  outline: none;
}

.btn-contact{
  cursor: default;
  display: block;
  background-color: var(--whatsapp);
  padding: .4rem 1.2rem;
  color: var(--light);
  border-radius: 2rem;
  width: 100%;
  text-align: center;
  transition: all .3s;
}

.btn-contact:hover{
  color: var(--light);
  background-color: var(--whatsapp-hover);
}

.btn-contact:active{
  color: var(--light);
  background-color: var(--whatsapp-hover);
}

/* ============================ Footer ================================ */
.footer{
  display: block;
  margin: 0;
  padding: 2rem 2rem;
}
.footer .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .gallery-wrapper{
    column-count: 4;
  }
  .btn-nav{
    padding: .4rem 1.2rem;
  }
  .main-title{
    font-size: 2.4rem !important;
  }

  .btn-contact{
    width: fit-content;
    margin-left: auto;
    padding: .5rem 1.4rem;
  }
  .section-contact .card-contact{
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem 2rem;
  }
  .section-contact .card-contact h1{
    font-size: 1.6rem;
  }
  .section-contact .card-contact p{
    font-weight: 300;
    font-size: medium;
  }
  .section-contact .card-contact textarea{
    display: block;
    padding: 0px 16px;
    width: 100%;
    border: none;
    border-radius: 16px;
    line-height: 4;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1000px) {
  .gallery-wrapper{
    column-count: 5;
  }
  .btn-nav{
    padding: .4rem 1.8rem;
    border-radius: 2rem;
  }
  .btn-nav:hover{
    background-color: var(--dark);
    color: var(--light);
  }
  .main-title{
    font-size: 4rem;
  }
  .section-header{
    padding: 3rem 2rem 2rem 2rem;
  }
  .btn-contact{
    width: fit-content;
    margin-left: auto;
    padding: .6rem 1.4rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }
  .section-contact{
    padding: 5rem 2rem;
  }
  .section-contact .card-contact{
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem 3rem;
    min-width: 800px;
  }
  .section-contact .card-contact h1{
    font-size: 2rem;
  }
  .section-contact .card-contact p{
    font-weight: 400;
    font-size: medium;
  }
  .section-contact .card-contact textarea{
    display: block;
    padding: 0px 16px;
    width: 100%;
    border: none;
    border-radius: 16px;
    line-height: 5;
    margin-bottom: 1rem;
    background-color: var(--light);
    color: var(--text-color);
  }
  .section-contact .card-contact .form-wrapper{
    position: relative;
    width: 100%;
    height: fit-content;
  }
}
